/* google font styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.container{
    max-width: 88%;
    margin: 0 auto;
}


/* navbar related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
   
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 32px;
   
}
.nav-link li{
    list-style: none;
   
}
.nav-link li a{
     color: black;
     text-decoration: none;
}